.sidebar {
  width: 250px;
  height: 100%;
  background-color: #02298A;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ajuste para alinear los elementos a la izquierda */
  padding: 20px;
  position: fixed; /* Asegura que la barra lateral permanezca fija */
}

.logo img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.menu button {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 12px; /* Ajusta el espaciado según sea necesario */
  border: none;
  background-color: #02298A;
  color: white;
  cursor: pointer;
}
.menu button.active {
  background-color: #3786F1;
}

i {
  margin-right: 10px; /* Ajusta el espaciado entre el icono y el texto */
}
#bottom-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px;
  font-size: small;
  text-align: center;
}
